<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Database Management</title>
</head>
<body>
    <div>
        <%- include('navbar', {links: links}) %>
        <h1>Database Management</h1>
        <div class="db-btns">
            <a href="/db_manipulation/add_product" class="db-man-btn">Add Product</a>
            <a href="/db_manipulation/add_brand" class="db-man-btn">Add Brand</a>
            <a href="/db_manipulation/add_category" class="db-man-btn">Add Category</a>
            <a href="/db_manipulation/add_product_family" class="db-man-btn">Add Product Family</a>
        </div>
        <h1>New Product Details</h1>
        <form action="/db_manipulation/add_product" method="POST">
            <label for="product-name">Product Name:</label>
            <input type="text" id="product-name" name="product-name" placeholder="Product Name">
            <br>
            <label for="product-quantity">Product Quantity:</label>
            <input type="number" id="product-quantity" name="product-quantity" placeholder="Product Quantity">
            <br>
            <label for="product-category">Product Category:</label>
            <input type="text" id="product-category" name="product-category" placeholder="Product Category">
            <br>
            <label for="product-price">Product Price:</label>
            <input type="number" id="product-price" name="product-price" placeholder="Product Price">
            <br>
            <label for="product-brand">Product Brand:</label>
            <input type="text" id="product-brand" name="product-brand" placeholder="Product Brand">
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>