<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <%- include('navbar', { links: links }) %>
    <h1>All Products</h1>
    <div class="content">
        <ul class="item-list">
            <% products.forEach(product => { %>
                <li class="item-card">
                    <% Object.keys(product).forEach(attribute => { %>
                        <p><%= product[attribute] %></p>
                    <% }) %>
                    <form action="/delete/<%= product.product_id %>" method="POST" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>